<div class="wrapper_size wrapper_bgcollor wrapper_flex wrapper_flex_helper">
  <app-header class="header"></app-header>
  <div class="filters">
    <input class="filters_area" id='lesson' type="text" [formControl]="lessonFilter" placeholder="Предмет">
    <input class="filters_area" id="city" type="text" [formControl]="cityFilter" placeholder="Город">
  </div>
  <div class='list'>
    <div *ngFor='let olymp of olymps; index as i;'>
      <div class="list_item" *ngIf='olymp.lesson.includes(lessonFilter.value) && olymp.city.includes(cityFilter.value)' [ngClass]='dynamicStyle[i]' (click)='toggleStyle(i)'>
        <span class="list_item_text lesson">{{ olymp.lesson }}</span>
        <span class="list_item_text city">{{ olymp.city }}</span>
        <span class="list_item_text caption">{{ olymp.caption }}</span>
        <span class="list_item_text comment">{{ olymp.comment }}</span>
        <a class="list_item_text link" href="{{'olymp.website'}}">Сайт</a>
      </div>
    </div>
  </div>
</div>
