<div class="wrapper_size wrapper_bgcollor wrapper_flex wrapper_flex_helper">
  <app-header class="header"></app-header>
  <div class="profile">
    <p class="profile_title">Профиль</p>
    <form class='profile_form' [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <input class='profile_form_input' type="text" id="firstName" formControlName="firstName" placeholder="Имя" [ngClass]="{error:profileForm.controls.firstName.invalid && profileForm.controls.firstName.touched}">
      <input class='profile_form_input' type="text" id="lastName" formControlName="lastName" placeholder="Фамилия" [ngClass]="{error:profileForm.controls.lastName.invalid && profileForm.controls.lastName.touched}">
      <input class='profile_form_input' type="text" id="middleName" formControlName="middleName" placeholder="Отчество" [ngClass]="{error:profileForm.controls.middleName.invalid && profileForm.controls.middleName.touched}">
      <input class='profile_form_input' type="date" id="birthday" formControlName="birthday" placeholder="Дата рождения">
      <input class='profile_form_input' type="text" id="region" formControlName="region" placeholder="Регион">
      <input class='profile_form_input' type="text" id="city" formControlName="city" placeholder="Город">
      <input class='profile_form_input' type="text" id="school" formControlName="school" placeholder="Школа">
      <input class='profile_form_input' type="text" id="class" formControlName="class" placeholder="Класс">
      <div class='profile_form_input'>
        {{ sign }}
      </div>
      <div class='profile_form_input'>
        {{ email }}
      </div>
      <button class='profile_form_button' type="submit">СОХРАНИТЬ</button>
    </form>
  </div>
</div>
